<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
		        	<li><a href="/research">research</a></li>
	        		<li><a href="/publications">publications</a></li>
	        		<li><a href="/deij">deij</a></li>
				<li><a href="/media">media</a></li>
	        		<li><a href="/fieldnotes">fieldnotes</a></li>

	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://scholar.google.com/citations?user=hLRSBUkAAAAJ&hl=en">google scholar</a></li>
	        		<li><a href="https://github.com/amoliverio">github.com/amoliverio</a></li>
				</ul>
			</footer>
		</body>
	</html>
